@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  --dark-color: #0C1821;
  --pri: #0D79F2;
  --sec: #235789ff;
  --fourth: #ff3e00;
  --third: #07948a;
  --green: #8DBB27;
  --black: #161925;
  --white: #ffffff;
  --dark: #183859;
  --red: #c1292eff;
  --yellow: #f1d302ff;
  --off-white: #F0F1F4;
  --content-width: 1200px;
  --column-width: 42rem;
  --column-margin-top: 4rem;
  color: var(--black);
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(to left, #f46b45, #eea849); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 90%;
  max-width: 2160px;
  margin: 0 auto;
  z-index: 10;
}

.menu a {
  text-decoration: none;
  color: var(--dark-color);
  margin-bottom: 3px;
  transition: color 0.125s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu a:hover {
  color: var(--pri);
  transition-duration: 0.25s;
}

.menu span {
  position: relative;
  padding-bottom: 3px;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--pri);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition-duration: 0.4s;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  max-width: 140px;
}

.menu>span {
  margin: 0 1rem;
  overflow: hidden;
}

.menu>span:last-child {
  margin-right: 0;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--dark-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(135deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-135deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  #menu-toggle~.menu span {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu span {
    border: 1px solid #333;
    height: 3em;
    padding: 0.8em 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu a {
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none;
    color: #fff;
  }

  .menu>span {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #0C1821;
  }

  .menu>a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }

  .menu>span:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .menu a:hover::after {
    transform: scaleX(0);
  }
}

.why-us-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.whyus {
  margin-top: 4.2rem;
  margin-bottom: 4.8rem;
}

.reason {
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 1em;
  border: 1px solid #22222231;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.reason p {
  margin: 18px 0;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.details h3 {
  color: var(--pri);
  font-size: 1rem;
}

.details p {
  font-size: 15px;
}

/*
  Beginning of body styles
*/

.map iframe {
  display: block;
  max-width: 100%;
  min-height: 380px
}

.about h2 {
  color: var(--pri);
  font-weight: 700;
  font-size: 20px;
}

.about h2:last-of-type {
  font-weight: 400;
  color: var(--dark);
}

.about-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.about-3 img {
  display: block;
  width: 100%;
}

.about-3 h2 {
  font-size: 21px;
  font-weight: 700;
  color: var(--dark);
}

.about-3 h2:first-of-type {
  margin-top: 0;
}

.hero-container {
  background-color: var(--pri);
}

.hero-area-grid {
  display: grid;
  grid-template-rows: 1fr;
  padding: 5.2rem 0 2rem 0;
  align-items: center;
  gap: 1.5rem;
}

.hero-area-grid h1 {
  margin-top: 0;
  color: #fff;
  font-size: 2.5rem;
  animation: fadeinup 0.5s ease-in-out;
}

.hero-area-grid p {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.4rem;
  animation: fadeinup 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.hero-area-grid img {
  display: block;
  max-width: 100%;
  animation: fadeinup 0.5s ease-in-out 0.3s;
  animation-fill-mode: both;
}

.by-the-numbers div {
  max-width: 720px;
  margin: 0 auto;
}

.by-the-numbers h2 {
  max-width: 420px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.by-the-numbers p {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.end {
  background-color: #f2654a;
  background-color: var(--sec);
  min-height: 560px;
  display: flex;
  align-items: center;
  position: relative;
}

.end h3 {
  font-size: 2.8rem;
  text-align: center;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.end p {
  font-size: 1.25rem;
  text-align: center;
  color: var(--white);
  margin: 0.575rem auto 0 auto;
  width: 90%;
  display: block;
}

.end img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.57125;
  display: block;
  width: 100%;
  max-width: 650px;
}

.end .width {
  position: relative;
  z-index: 1;
}

.end .contact {
  display: block;
  margin: 2.1rem auto 0 auto;
  padding: 0.975rem 1.9825rem;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/*!* Beginning of desktop styles *!*/
/*@media (min-width: 628px) {*/
/*  .top-nav {*/
/*    padding: 24px 0;*/
/*  }*/

/*  .details {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*  }*/

/*  .about-3 {*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-column-gap: 28px;*/
/*    grid-row-gap: 8px;*/
/*  }*/

/*  .about-3 h2 {*/
/*    font-size: 24px;*/
/*  }*/

/*  .blogs {*/
/*    grid-template-columns: 1fr 1fr;*/
/*    gap: 1.525rem;*/
/*  }*/

/*  .end img {*/
/*    opacity: 0.35;*/
/*  }*/

/*@media (min-width: 700px) {*/

/*  .why-us-grid {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 2fr;*/
/*    gap: 4rem;*/
/*  }*/

/*  .reason {*/
/*    font-size: 1.6rem;*/
/*    border-radius: 0;*/
/*    padding: 0;*/
/*    box-shadow: none;*/
/*    border: none;*/
/*  }*/

/*  .details {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    gap: 2.2em;*/
/*  }*/

/*  .details h3 {*/
/*    font-size: 1.2rem;*/
/*  }*/

/*  .details p {*/
/*    font-size: 1rem;*/
/*  }*/
/*}*/


/*  100% {*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*  }*/
/*}*/