{% extends 'layout/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheet %}

{% block content %}
{% include 'main/includes/header.html' %}

<div class="bg-orange-50">
    <section class="container mx-auto w-11/12 py-14 md:py-24">
        <article class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-x-4 md:gap-x-4 gap-y-7">
            {% for blog in blogs %}
            <div class="">
                <div class="">
                    <img src="{{ blog.image.url }}" alt="">
                </div>
                <p class="text-xs text-center pt-3 text-red-300">{{ blog.date_posted | date:"F d, Y"}}</p>
                <h3 class="text-base mt-4 mb-6 text-center text-gray-700">{{ blog.title | title}}</h3>
            </div>
            {% endfor %}
        </article>
    </section>
</div>

{% include 'main/includes/partners.html' %}

<article class=" py-12 md:py-20">
    <div class="container mx-auto w-11/12">
        <div class="flex gap-4 items-center mb-11 md:mb-14">
            <i class="fa-solid fa-link block text-black"></i>
            <h2 class="inline-block pb-1 border-b-2 border-black text-black text-sm md:text-lg font-normal uppercase">
                Work with us
            </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-[1fr,2fr] gap-x-14 gap-y-10">
            <section class="border border-gray-300 rounded-lg p-4 md:p-0 md:border-0">
                <p class="text-xl md:text-3xl leading-snug md:leading-normal text-black">
                    We're dedicated to creating happy customers. We can be relied upon and we are relied upon. We're
                    honest and
                    flexible, we fast-track initiatives to give you certainty of the best outcome.
                </p>
            </section>
            <section class="grid grid-cols-2 gap-4 md:gap-10">
                <div class="">
                    <h3 class="text-black text-base md:text-lg font-semibold mt-0 mb-3">Flawless Execution</h3>
                    <p class="text-base md:text-lg">
                        With know-how and IP we fast-track initiatives and deliver change safely. We enhance performance
                        through digital technology, ensuring your investments deliver optimal value.
                    </p>
                </div>
                <div class="">
                    <h3 class="text-black text-base md:text-lg font-semibold mt-0 mb-3">Truly Independent</h3>
                    <p class="text-base md:text-lg">
                        Our advice is for you and you only. We have intimate knowledge of all digital technology vendor
                        landscapes but remain commercially independent at all times.
                    </p>
                </div>
                <div class="">
                    <h3 class="text-black text-base md:text-lg font-semibold mt-0 mb-3">Brilliant Delivery</h3>
                    <p class="text-base md:text-lg">
                        Our team are all emotionally invested to delight our clients, blending business and digital
                        technology skills with a deep understanding of people, culture and change.
                    </p>
                </div>
                <div class="">
                    <h3 class="text-black text-base md:text-lg font-semibold mt-0 mb-3">Market Expertise</h3>
                    <p class="text-base md:text-lg">
                        An objective guiding voice drawing on intimate knowledge of the digital marketplace, current
                        trends, vendor technology roadmaps and innovation.
                    </p>
                </div>
            </section>
        </div>
    </div>
</article>

<section class="bg-teal-600 py-3 md:py-2">
    <div class="bg-no-repeat bg-auto bg-center min-h-[460px] flex items-center justify-center">
        <!-- style="background-image:url({% static 'images/global map.png' %})" -->
        <div class="container mx-auto w-11/12">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 justify-center">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-2">
                    <div class="bg-teal-400 flex flex-col gap-2 p-8 opacity-90 ">
                        <i class="fa-solid fa-thumbs-up text-black mb-2"></i>
                        <h3 class="text-5xl text-black font-bold">20+</h3>
                        <p class="text-lg text-black">Years of experience</p>
                    </div>
                    <div class="bg-teal-400 flex flex-col gap-2 p-8 opacity-90 ">
                        <i class="fa-solid fa-file-signature text-black mb-2"></i>
                        <h3 class="text-5xl text-black font-bold">100+</h3>
                        <p class="text-lg text-black">Projects (Client) engagements</p>
                    </div>
                    <div class="bg-teal-400 flex flex-col gap-2 p-8 opacity-90 ">
                        <i class="fa-solid fa-sack-dollar text-black mb-2"></i>
                        <h3 class="text-5xl text-black font-bold">150m</h3>
                        <p class="text-lg text-black">Cumulative funding in dollars</p>
                    </div>
                    <div class="bg-teal-400 flex flex-col gap-2 p-8 opacity-90 ">
                        <i class="fa-solid fa-globe text-black mb-2"></i>
                        <h3 class="text-5xl text-black font-bold">10+</h3>
                        <p class="text-lg text-black">Number of countries supported</p>
                    </div>
                </div>
                <div class="bg-teal-400 opacity-90 p-6 ">
                    <img src="{% static 'images/countries.png' %}" alt="Countries where we operate in"
                        class="block max-w-full mx-auto">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}