{% load static %}

{% block head %}
<style>
  .content {
    min-height: 360px;
    background: url("/static/images/header/banner-img.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
  }

  @media (min-width: 720px) {
    .content {
      min-height: 550px;
    }
  }
</style>
{% endblock head %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
<div class="parallax-container">
  <div class="content">
    <div class="w-11/12 mx-auto text-center my-auto">
      <h1 class="mb-6 text-3xl md:text-6xl text-white">Sultry Sensations</h1>
      <h2 class="font-normal text-3xl text-gray-500">
        For the moments when we feel alive. Sultry feelings!
      </h2>
      <button class="bg-red-500 py-4 px-6 rounded text-white mt-8" type="button">PREORDER HERE</button>
    </div>
  </div>
</div>
{% endblock content %}